<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <style>
  	*{
	background-color:rgba(0,0,0,0.08)
}

section{
	height: 100%;
	width: 100%;
}

button{
	display: block;
	width: 160px;
	height: 45px;
	border: none;
	border-radius: 5px;
	font-size: 26px;
	text-align: center;
	color: #fff;
	background-color: #ff3d2e;
	margin-top: 10%;
	margin-left: 30%;
	position: relative;
}

button::after{
	content: attr(data-balloon);
	position: absolute;
	transition:0.2s;
	font-size:12px;
	background-color:rgba(17,17,17,0.9);
	border-radius:4px;
	color:#fff;
	white-space:nowrap;
	opacity:0;
}

button:hover{
	background-color:rgb(224, 25, 9)
}

button:hover::after{
	opacity: 1;
}

button.top::after{
	bottom:100%;
	left:50%;
	margin-bottom:15px;
	transform:translate(-50%,10px);
	transform-origin:top;
}

button.top:hover::after{
	transform:translate(-50%,-10px);
}

button.left::after{
	right:100%;
	top:15px;
	margin-left:15px;
	transform-origin:left;
}

button.left:hover::after{
    transform:translate(-60%,0);
}

button.right::after{
	left:100%;
	top: 15px;
}

button.right:hover::after{
	transform: translate(40%,0);
}

button.bottom::after{
	top: 100%;
	left: 50%;
	transform:translate(-50%,0);
}

button.bottom:hover::after{
	transform: translate(-50%,150%);
}

button.small::after{
	content: attr(data-balloon);
	white-space:normal !important;
	width: 80px !important;
}

button.medium::after{
	content: attr(data-balloon);
	width: 150px !important;
	white-space: normal !important;
}

button.large::after{
	content: attr(data-balloon);
	width: 260px !important;
	white-space: normal !important;
}

button.Xlarge::after{
	content: attr(data-balloon);
	width: 90vw !important;
	white-space: normal !important;
}

button.fit::after{
	content: attr(data-balloon);
	width:100% !important;
	white-space: normal !important;
}
  </style>
</head>
<body>
	<section>
		<button data-balloon="Whats up!" class="top">hover me!</button>
		<button data-balloon="Whats up!" class="left">hover me!</button>
		<button data-balloon="Whats up!" class="right">hover me!</button>
		<button data-balloon="Whats up!" class="bottom">hover me!</button>
		<button data-balloon="HI" class="small top">hover me!</button>
		<button data-balloon="Now that's a super big text we have over here right? Lorem ipsum dolor sit I'm done." class="medium top">hover me!</button>
		<button data-balloon="What about something really big? This may surpass your window dimensions. Imagine you're on that boring class with that boring teacher and you didn't slept so well last night. Suddenly you're sleeping in class. Can you believe it?!" class="large top">hover me!</button>
		<button data-balloon="What about something really big? This may surpass your window dimensions. Imagine you're on that boring class with that boring teacher and you didn't slept so well last night. Suddenly you're sleeping in class. Can you believe it?!" class="Xlarge top">hover me!</button>
		<button data-balloon="What about something really big? This may surpass your window dimensions. Imagine you're on that boring class with that boring teacher and you didn't slept so well last night. Suddenly you're sleeping in class. Can you believe it?!" class="fit top">hover me!</button>
	</section>
</body>
</html>


