*,::before,::after {
    background-color: rgba(0, 0, 0, 0.08);
    box-sizing:inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    font-size: 16px;
}

div.first {
    width: 100%;
    background-color: rgb(51, 51, 51);
    line-height: 40px;
    text-align: center;
    display: flow-root;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

div.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.container li {
    margin: 0;
    font-size: 12px;
    color: rgb(176, 176, 176);
}

div.first div.container {
    width: 1226px;
    height: inherit;
    margin: 0 auto;
}

div.first div.container div.left {
    width: 700px;
    height: inherit;
    float: left;
    text-align: left;
}

div.first div.container div.right {
    width: 400px;
    height: inherit;
    float: right;
    text-align: right;
}

div.first div.container div.left li {
    display: inline-block;
    margin-left: 0;
    margin-right: 15px;
}

div.first div.container div.right li {
    display: inline-block;
    margin-right: 0;
    margin-left: 20px;
}

div.first a {
    color: rgb(176, 176, 176);
    text-decoration: none;
    font-size: 12px;
}

div.first a:hover {
    color: white;
}

div.second {
    width: 100%;
    height: 100px;
    position: relative;  /*为下拉菜单提供定位祖先*/
}

.main-nav{
    width: 1226px;
    height: 100px;
    margin: 0 auto;
}

.main-nav .logo{
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 200px;
}

.main-nav > ul{
    list-style-type: none;
    height: 100px;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 100px;
}

.main-nav > ul li{
    float: left;
    height: 100px;
}

.main-nav li a {
    padding:0 10px;
    height: 100px;
    xline-height:100px;
    display: inline-block; /*扩大可点击区域*/
}

.main-nav-menu .submenu{
    position: absolute;
    width: 100%;
    left:0px;  /*相对于定位祖先*/
    height: 0;
    transition: 1s;
    background-color:#fff;
} 

.main-nav-menu:hover .submenu{
    height: 230px;
}

.main-nav-menu li:hover .sunmenu{
    z-index: 123;
}

.main-nav-menu .submenu ul{
    width: 1226px;
    margin: auto;
} 

.main-nav .main-nav-searchbar{
    xdisplay:inline-block;
    float: right;
    position: relative;
    margin-top: 25px;     /*要注意 margin 也会加到高度里,且不易察觉，比如如果这里事先设置高度100px，再设置margin-top为25px，其后果就是高度增加且影响下列元素布局*/
}

.main-nav-searchbar input{
    height:50px;
    border:1px solid #ff6700;
    width: 245px;
    float: left;
    border-bottom: none;
    outline: none;
}

.main-nav-searchbar ul{
    position: absolute;  /*不能影响布局*/
    width: 245px;
    border:1px solid #ff6700;
    margin-top: 50px;  /*相对于其父元素包含块顶部*/
}

.main-nav-searchbar button{
    height: 50px;
    width: 50px;
    border:1px solid #ff6700;
    float: left;
    border-left: none;
    outline: none;
   
}

/*轮播图*/

.hero-slider{
    width: 1226px;
    height: 460px;
    margin:0 auto;
    position: relative;
}

.hero-slider .slider img{
    width: 100%;
    height: 100%;
}

.hero-slider .menu{
    position: absolute;
    top:0;
    left:0;
    padding: 20px 0;
    height: 420px;
    width: 234px;
    z-index: 10;
}

.hero-slider .menu > ul > li:hover{
    background-color: #ff6700;
    border: 1px dashed;
}

.hero-slider .menu > ul > li{
    font-size: 14px;
    padding-left: 30px;
    display: block;
    height: 42px;
    line-height: 42px;
}

div.third > div > div.menu > ul > li> ul{
    position: absolute;
    top: 0;
    left: 100%;
}

div.third > div > div.menu > ul > li> ul >li{
    height: 76px;
    width: 248px;
    background-color: #fff;
    display: none;
}

div.third > div > div.menu >ul >li:hover >ul >li{
    display: block;
}

div.third > div > div.menu > ul > li> ul >li:nth-child(n+7){
    margin-left: 248px;
}

div.third > div > div.menu > ul > li> ul >li:nth-child(n+13){
    margin-left:calc(2 * 248px);
}

div.third > div > div.menu > ul > li> ul >li:nth-child(n+19){
    margin-left: calc(3*248px)
}

div.third > div > div.menu > ul > li> ul >li:nth-child(6n+7){
    margin-top: -456px;
}

.slider{
    position: relative;
    height: 460px;
}
.slider input{
    display: none;
}

.slider div{
    position: absolute;
    width: 1226px;
    transition: 0.2s;
}

.slider > div > label:first-child{
    width: 40px;
    height: 70px;
    position: absolute;
    left: 234px;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 1;
    background: #ff6700;
    xline-height: 70px;
}

.slider > div >label:nth-child(2){
    width: 40px;
    height: 70px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 1;
    background: #ff6700;
    xline-height: 70px;
}

.slider section{
    position: absolute;
    bottom: 20px;
    right: 30px;
    z-index: 8;
}

.slider section label{
    border:6px solid red;
    width: 2px;
    height: 2px;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
}

.slider input:checked + * + * + * + * + div {
    opacity: 1;
    z-index: 6;
  }

  /* 第四部分，轮播图下方列表 */
.fourth .home-hero-sub{
    width: 1226px;
    height: 170px;
    margin:auto;
    margin-top: 14px;
}

.fourth .home-hero-sub .home-channel-sub{
    float: left;
    width: 234px;
}

.fourth .home-hero-sub .home-channel-sub .home-channel-list{
    float: left;
    text-align: center;
}

.fourth .home-hero-sub .home-channel-sub .home-channel-list li{
    width: 70px;
    height: 82px;
    float: left;
    position: relative;
    /* white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis; */
}

.fourth .home-hero-sub .home-channel-sub .home-channel-list li img{
    padding-top: 18px;
}

.fourth .home-hero-sub .home-channel-sub .home-channel-list li::before{
    width: 64px;
    height: 1px;
    position: absolute;
    content: "";
    background: #665e57;
    left:6px;
}

.fourth .home-hero-sub .home-channel-sub .home-channel-list li::after{
    width: 1px;
    height: 70px;
    top:6px;
    left:0;
    position: absolute;
    content: "";
    background: #665e57;
}


.fourth .home-hero-sub .home-promo{
    width: 978px;
    float: right;
}

.home-promo .home-promo-list li{
    width: 316px;
    height: 170px;
    float: right;
    margin-left: 10px;
}

.home-promo .home-promo-list li img{
    width: 316px;
    height: 170px;
}

/*第五部分 小米闪购*/

.fifth .flashpurchase{
    width: 1226px;
    height: 438px;
    margin: auto;
}

.fifth .flashpurchase .box-hd{
    height: 58px;
    position: relative;
}

.fifth .flashpurchase .box-hd .tittle{
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}

.fifth .flashpurchase .box-hd .more{
    position: absolute;
    right: 0;
    top: 24px;
}

.fifth .flashpurchase .box-bd{
    width: 1226px;
}

.fifth .flashpurchase .box-bd .flashpurchase-countdown{
    width: 234px;
    height: 300px;
    text-align: center;
}

.box-bd .flashpurchase-countdown .countdown-card{
}

.flashpurchase-countdown div.countdown-card > div.time-tittle{
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 39px;
}

.flashpurchase-countdown div.countdown-card > img{
    margin:25px auto;
}

.flashpurchase-countdown div.countdown-card >div.sub{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54)
}

.flashpurchase .flash-time{
    width: 168px;
    margin: 28px auto 0;
}

.flashpurchase-countdown .flash-time .box{
    width: 46px;
    height: 46px;
    background-color: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float: left;
}

.flashpurchase-countdown .flash-time .dosh{
    width: 15px;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
    float: left;
}

.home-banner-box{
    width: 1226px;
    height: 120px;
    margin: auto;
}

.home-banner-box img{
    width: 1226px;
    height: 120px;
}





