* {
    background-color: rgba(0, 0, 0, 0.08);
    box-sizing:inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    font-size: 16px;
}

div.first {
    width: 100%;
    background-color: rgb(51, 51, 51);
    line-height: 40px;
    text-align: center;
    display: flow-root;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

div.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.container li {
    margin: 0;
    font-size: 12px;
    color: rgb(176, 176, 176);
}

div.first div.container {
    width: 1226px;
    height: inherit;
    margin: 0 auto;
}

div.first div.container div.left {
    width: 700px;
    height: inherit;
    float: left;
    text-align: left;
}

div.first div.container div.right {
    width: 400px;
    height: inherit;
    float: right;
    text-align: right;
}

div.first div.container div.left li {
    display: inline-block;
    margin-left: 0;
    margin-right: 15px;
}

div.first div.container div.right li {
    display: inline-block;
    margin-right: 0;
    margin-left: 20px;
}

div.first a {
    color: rgb(176, 176, 176);
    text-decoration: none;
    font-size: 12px;
}

div.first a:hover {
    color: white;
}

div.second {
    width: 100%;
    height: 100px;
    position: relative;  /*为下拉菜单提供定位祖先*/
}

.main-nav{
    width: 1226px;
    height: 100px;
    margin: 0 auto;
}

.main-nav .logo{
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 200px;
}

.main-nav > ul{
    list-style-type: none;
    height: 100px;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 100px;
}

.main-nav > ul li{
    float: left;
    height: 100px;
}

.main-nav li a {
    padding:0 10px;
    height: 100px;
    xline-height:100px;
    display: inline-block; /*扩大可点击区域*/
}

.main-nav-menu .submenu{
    position: absolute;
    width: 100%;
    left:0px;  /*相对于定位祖先*/
    height: 0;
    transition: 1s;
    background-color:#fff;
} 

.main-nav-menu:hover .submenu{
    height: 230px;
}

.main-nav-menu li:hover .sunmenu{
    z-index: 123;
}

.main-nav-menu .submenu ul{
    width: 1226px;
    margin: auto;
}

.main-nav .main-nav-searchbar{
    xdisplay:inline-block;
    float: right;
    height: 100px;
    width: 245px;
}


.main-nav-searchbar input{
    height:50px;
    border:1px solid;
}

.main-nav-searchbar button{
    height: 50px;
    width: 50px;
}






